/* Navigation Section */
#logo{
        padding: 5px 10px;
}
#image{
    margin: 0px;
    width: 40px;
    height: 40px;
}

#navbar{
    flex-direction: column;
}
#navbar ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding: 0px 0px 10px 0px;
}
#navbar ul li {
    font-size: 0.8rem;
}
#navbar ul li a{
    padding: 12px 10px;
}
/* Home Section */
#home {
    height: 420px;
    padding: 12px 15px;
}
#home::before{
    height: 500px;
}
#home p{
    font-size: 14px;
}
#home h1{
    font-size: 30px;
}
.btn{
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
}
/* Services Section */
#services{
    flex-direction: column;
}
#services .box{
    margin: 5px 12px;
    padding: 15px;
    width: 300px;
}
#services .box h1{
    font-size: 1.5rem;
    padding: 12px;
}
#services .box p{
    font-size: 0.9rem;
}
#services-container h1{
    font-size: 2.2rem;
    padding: 0px 30px
}

#services-container {
    height: 1850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Client Section */
#clientsection{
    height: 350px;
}

#clientsection h1{
    font-size: 1.5rem;
    padding: 12px 20px;
}
#clients{
    flex-wrap: wrap;
    padding: 0px 45px;
    top: 20px;
    justify-content: space-between;
}
#clients .client-items {
    padding:20px;
    margin-top: 40px;
}
#clients .client-items img {
    width: 60px;
}
/* Contact - Section  */
#contact{
    /* height: 325px; */
    margin-top: 0px;
}
#contact h1{
    font-size: 2.3rem;
}
#contact-box form {
    width: 250px;
}
#contact-box label {
    font-size: 1.1rem;
}
#contact-box #button {
    width: 253px;
    border-radius: 12px;
}